/* .hide{
    display: none !important;
}
.show{
    display: block !important;
}
.dropdown-toggle {
  background: #167af6;
}
.dropdown-toggle  span{
  color: white
}
.bg-d1f2eb{
  background: #D1F2EB;
}
.error_minus_value{
    border: 1px solid red !important;
    color:white
} */

table{
  margin: 0 auto;
  /* width: 100%; */
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap:break-word; 
}