<template>
    <div>
        <div class="alert alert-warning alert-dismissible fade show mb-0" v-if="errText !== ''">
            {{errText}}
        </div>
        <div class="form-group">
            <label class="control-label">ปีงบประมาณ</label>
            <input type="text" v-model="budgetyear" class="vdatetime-input" placeholder="ตัวอย่าง: 2562"/>
        </div>
        <div class="form-group">
            <label class="control-label">วันที่เริ่มปีงบประมาณ</label>
            <datetime type="date" v-model="fromdate" value-zone="local" zone="local" :auto="true" class="theme-orange">
            </datetime>
        </div>
        <div class="form-group">
            <label class="control-label">วันที่สิ้นสุดปีงบประมาณ</label>
            <datetime type="date" v-model="enddate" value-zone="local" zone="local" :auto="true" class="theme-orange">
            </datetime>
        </div>
        <div class="form-group">
            <label class="control-label">สถานะ</label>
            <select class="form-control" v-model="status">
                <option value="active" :selected="status ==='active'">ปีงบประมาณปัจจุบัน</option>
                <option value="inactive" :selected="status ==='inactive'">สิ้นสุดปีงบประมาณ</option>
            </select>
        </div>
     
        <button type="button" @click="saveData()"  class="btn btn-pill btn-accent d-table mx-auto">บันทึก</button>
    </div>
</template>


<script>
import Vue from 'vue'
import { Datetime } from 'vue-datetime';
import 'vue-datetime/dist/vue-datetime.css'
import { Settings } from 'luxon';
Settings.defaultLocale = 'th'

export default {
    props:['mode', 'id'],
    mounted(){
        if(this.mode === "edit")
            this.getData();
    },
    components:{
        datetime: Datetime,
        Settings
    },
    data(){
        return{
            fromdate: '',
            enddate: '',
            budgetyear: '',
            status: 'inactive',
            errText:''
        }
    },
    methods:{
        getData(){
            axios.get('/api/budgetyear/edit',{params : this.id}).then(res=>{
                this.fromdate = res.data[0].startdate;
                this.enddate = res.data[0].enddate;
                this.budgetyear = res.data[0].budgetyear
                this.status = res.data[0].status
            },err=>{
                console.log(JSON.stringify(err))
            })
        },
        saveData(){
            const DateTime = require('luxon').DateTime
            const fromdate = DateTime.fromISO(this.fromdate).setLocale('es').toFormat('yyyy-MM-dd') 
            const enddate = DateTime.fromISO(this.enddate).setLocale('es').toFormat('yyyy-MM-dd') 
            // axios.get('/api/budgetyear/find_active_status').then(res=>{
            //     if(res.data.active_budgetyear >0 && this.status === 'active'){
            //         this.errText = 'มีการกำหนดสถานะ ปีงบประมาณปัจจุบันแล้ว'
            //     }else{
                    console.log(this.mode)
                    this.errText = ''
                     if(this.mode === 'create'){
                        axios.post('/api/budgetyear/store',{
                            'budgetyear': this.budgetyear,
                            'fromdate': fromdate,
                            'status': this.status,
                            'enddate': enddate
                        }).then((res)=>{
                            console.log(res)
                            if(res.data.status === 200)
                                window.location.href = "../";
                        },error=>{
                            console.log(JSON.stringify(error))
                        })
                    }else if(this.mode === 'edit'){
                        axios.post('/api/budgetyear/update',{
                            'budgetyear': this.budgetyear,
                            'fromdate': fromdate,
                            'enddate': enddate,
                            'status': this.status,
                            'id': this.id
                        }).then((res)=>{
                            console.log(res)
                            if(res.data.status === 200)
                                window.location.href = "../";
                        },error=>{
                            console.log(JSON.stringify(error))
                        })
                    }
                // }
            // }, err =>{ console.log(JSON.stringify(err)) })
           
        }
    }

}
</script>

<style>
.theme-orange .vdatetime-popup__header,
.theme-orange .vdatetime-calendar__month__day--selected > span > span,
.theme-orange .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #FF9800;
}

.theme-orange .vdatetime-year-picker__item--selected,
.theme-orange .vdatetime-time-picker__item--selected,
.theme-orange .vdatetime-popup__actions__button {
  color: #ff9800;
}
.vdatetime-popup {
    box-sizing: border-box;
    z-index: 1000;
    position: fixed;
    width: 340px;
    max-width: calc(100% - 30px);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
    color: #444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 1.18;
    background: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input.vdatetime-input{
  display: block;
    width: 100%;
    height: calc(2.7rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

}
</style>
