<template>
    <div>
        <!-- <a @click="print" :class="'mb-2 btn btn-sm btn-primary mr-1 text-white'">ปริ้นใบแจ้งหนี้</a> -->
        <div id="printTable" class="ortientation" v-if="show">
            <div class="col-sm-12 col-lg-4 print-break-page" id="print2" v-for="info in infos" :key="info.id">
                <div class="card card-small user-details mb-2">
                    <div class="card-header p-0">
                        <div class="user-details__bg">
                            <img :src="'/shards/images/content-management/2.jpeg'" alt="User Details Background Image">
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="user-details__avatar mx-auto">
                            <img :src="'/shards/images/shards-dashboards-logo-danger.svg'" alt="User Avatar">
                        </div>
                        <h4 class="text-center m-0 mt-2">เทศบาลตำบลห้องแซง</h4>
                        <p class="text-center text-light m-0 mb-2">9/1 ตำบลห้องแซง อำเภอเลิงนกทา จังหวัดยโสธร</p>
                        <p class="text-center text-light m-0 mb-2">ใบแจ้งหนี้ค่าน้ำประปา</p>
                        <div class="user-details__user-data border-top border-bottom p-2">
                             <div class="row mb-3">
                                <div class="col w-50">
                                    <span>เลขที่ใบแจ้งหนี้: {{info.invoice_period.inv_period_name}}-{{info.inv_period_id}}-{{info.id}}</span>
                                </div>
                                <div class="col w-50">
                                    <span>เลขที่ผู้ใช้น้ำ:{{id}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col w-40">
                                    <span>ประจำเดือน</span>
                                    <span>{{info.invoice_period.inv_period_name}}</span>
                                </div>
                                <div class="col w-30">
                                    <span>เลขมิเตอร์</span>
                                    <span>{{info.users.usermeter_info.id}}</span>
                                </div>
                                <div class="col w-30">
                                    <span>เส้นทาง</span>
                                    <span>{{JSON.parse(info.users.usermeter_info.zone.subzone[0].subzone_name)[0]}}</span>
                                </div>
                            </div>
                        </div>
                         <div class="user-details__user-data border-top border-bottom p-2">
                            <div class="">
                                <div>ชื่อผู้ใช้น้ำ: {{info.users.user_profile.name}}</div>
                                <div>ที่อยู่: {{info.users.user_profile.address}}</div>
                            </div>
                        </div>
                        <div class="user-details__user-data border-top border-bottom p-2">
                            <div class="row">
                                <div class="col-3">
                                    <div>&nbsp;</div>
                                    <div>จดครั้งก่อน</div>
                                    <div>จดครั้งล่าสุด</div>
                                </div>
                                <div class="col-6">
                                    <div>วันที่จด</div>
                                    <div>{{info.created_at}}</div>
                                    <div>{{info.created_at}}</div>
                                </div>
                                <div class="col-3">
                                    <div>เลขที่จด</div>
                                    <div>{{info.lastmeter}}</div>
                                    <div>{{info.currentmeter}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="user-details__user-data border-top border-bottom p-3">
                            <div class="row">
                                <div class="col w-30">
                                    <div>&nbsp;</div>
                                    <div>เป็นเงิน:</div>
                                </div>
                                <div class="col w-30">
                                    <div>บาท:หน่วย</div>
                                    <div>8 x {{info.used_water_net}}</div>
                                </div>
                                <div class="col w-30">
                                    <div>&nbsp;</div>
                                    <div>{{info.must_paid}} บาท</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-details__user-data border-top border-bottom p-3">
                            <div class="row">
                                <div class="col w-50">
                                    <div>พนักงาน</div>
                                    <div>{{info.recorder.username}}</div>
                                </div>
                                <div class="col w-50">
                                    <div>วันที่ออกบิล</div>
                                    <div>{{info.updated_at}}</div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>

        <!-- <div id="printTable" class="ortientation" v-if="show">
            <div class="col-sm-12 col-lg-4" id="print2">
                <div class="card card-small user-details mb-2">
                    <div class="card-header p-0">
                        <div class="user-details__bg">
                            <img :src="'/shards/images/content-management/2.jpeg'" alt="User Details Background Image">
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="user-details__avatar mx-auto">
                            <img :src="'/shards/images/shards-dashboards-logo-danger.svg'" alt="User Avatar">
                        </div>
                        <h4 class="text-center m-0 mt-2">เทศบาลตำบลห้องแซง</h4>
                        <p class="text-center text-light m-0 mb-2">9/1 ตำบลห้องแซง อำเภอเลิงนกทา จังหวัดยโสธร</p>
                        <p class="text-center text-light m-0 mb-2">ใบแจ้งหนี้ค่าน้ำประปา</p>
                        <div class="user-details__user-data border-top border-bottom p-2">
                            <div class="row mb-3">
                                <div class="col w-50">
                                    <span>เลขที่ใบแจ้งหนี้: {{info.invoice_period.inv_period_name}}-{{info.inv_period_id}}-{{info.id}}</span>
                                </div>
                                <div class="col w-50">
                                    <span>เลขที่ผู้ใช้น้ำ:{{id}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col w-40">
                                    <span>ประจำเดือน</span>
                                    <span>{{this.info.invoice_period.inv_period_name}}</span>
                                </div>
                                <div class="col w-30">
                                    <span>เลขมิเตอร์</span>
                                    <span>{{info.users.usermeter_info.id}}</span>
                                </div>
                                <div class="col w-30">
                                    <span>เส้นทาง</span>
                                    <span>{{JSON.parse(info.users.usermeter_info.zone.subzone[0].subzone_name)[0]}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="user-details__user-data border-top border-bottom p-2">
                            <div class="">
                                <div>ชื่อผู้ใช้น้ำ: {{info.users.user_profile.name}}</div>
                                <div>ที่อยู่: {{info.users.user_profile.address}}</div>
                            </div>
                        </div>
                        <div class="user-details__user-data border-top border-bottom p-2">
                            <div class="row">
                                <div class="col-3">
                                    <div>&nbsp;</div>
                                    <div>จดครั้งก่อน</div>
                                    <div>จดครั้งล่าสุด</div>
                                </div>
                                <div class="col-6">
                                    <div>วันที่จด</div>
                                    <div>{{info.created_at}}</div>
                                    <div>{{info.created_at}}</div>
                                </div>
                                <div class="col-3">
                                    <div>เลขที่จด</div>
                                    <div>{{info.lastmeter}}</div>
                                    <div>{{info.currentmeter}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="user-details__user-data border-top border-bottom p-3">
                            <div class="row">
                                <div class="col w-30">
                                    <div>&nbsp;</div>
                                    <div>เป็นเงิน:</div>
                                </div>
                                <div class="col w-30">
                                    <div>บาท:หน่วย</div>
                                    <div>8 x {{info.used_water_net}}</div>
                                </div>
                                <div class="col w-30">
                                    <div>&nbsp;</div>
                                    <div>{{info.must_paid}} บาท</div>
                                </div>
                            </div>
                        </div>

                        <div class="user-details__user-data border-top border-bottom p-3">
                            <div class="row">
                                <div class="col w-50">
                                    <div>พนักงาน</div>
                                    <div>{{this.info.recorder.username}}</div>
                                </div>
                                <div class="col w-50">
                                    <div>วันที่ออกบิล</div>
                                    <div>{{this.info.updated_at}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</template>
<script>
export default {
    props:['id', 'infos'],
    mounted(){
        // this.print()
        console.log(this.infos)
    },
    data(){
        return{
            show: true
        }
    },
    methods:{
        print(){
            this.show = true
            setTimeout(()=>{
                var printContents = document.getElementById("printTable").innerHTML;
                var originalContents = document.body.innerHTML;
                document.body.innerHTML = printContents;
                window.print();
                document.body.innerHTML = originalContents;
                window.location.reload()

                
            },200)
        }
    }
}
</script>

<style scoped>
@media print {
    @page {
size: 4.5in 6in;/* width height */
marks: crop cross
}
    #print2 {
        width: 500px !important;
        height: 700px !important;
        border: red solid 1px !important
    }
    .print-break-page {
       page-break-after: always;
    }
}
</style>