<template>
    <div>
        <div class="col-sm-12 col-md-10">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <strong class="text-muted d-block mb-2">ชื่อประเภทมิเตอร์</strong>
                        <input type="text" class="form-control is-valid" id="tabwatermetertype"
                            placeholder="ตัวอย่าง : ประปาหมู่บ้าน" v-model="tabwatermetertype" required>
                    </div>
                    <div class="form-group col-md-3">
                        <strong class="text-muted d-block mb-2">ขนาดมิเตอร์(หน่วย:หุน)</strong>
                        <input type="text" class="form-control is-valid" id="metersize" placeholder="ตัวอย่าง : 12"
                            v-model="metersize" required>
                    </div>
                    <div class="form-group col-md-3">
                        <strong class="text-muted d-block mb-2">ราคาต่อหน่วย</strong>
                        <input type="text" class="form-control is-valid" id="price_per_unit" placeholder="ตัวอย่าง : 8.25"
                            v-model="price_per_unit" required>
                    </div>
                    <div class="form-group col-md-2">
                        <strong class="text-muted d-block mb-2">&nbsp;</strong>
                        <button v-on:click="updateData" class="btn btn-primary">บันทึก</button>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted(){

    },
    methods:{
        updateData(){
            var data = {
               tabwatermetertype: this.tabwatermetertype,
                price_per_unit : this.price_per_unit,
                metersize: this.metersize
            }
            axios.post("/api/tabwatermeter/store",data).then((res)=>{
                window.location.href = '/tabwatermeter'
            })
        }
    }
    ,data(){
        return{
            tabwatermetertype : '',
            price_per_unit : null,
            metersize : null
        }
    }
}
</script>