<template>
    <div>
        <div v-if="show" class="alert alert-success alert-dismissible fade show  mb-0" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-check mx-2"></i>
            <strong>{{resText}}</strong>
        </div>
        
        <div class="col-sm-12 col-md-10">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <strong class="text-muted d-block mb-2">ชื่อประเภทมิเตอร์</strong>
                        <input type="text" class="form-control is-valid" id="tabwatermetertype"
                            placeholder="ตัวอย่าง : ประปาหมู่บ้าน" v-model="tabwatermetertype" required>
                    </div>
                    <div class="form-group col-md-3">
                        <strong class="text-muted d-block mb-2">ขนาดมิเตอร์(หน่วย:หุน)</strong>
                        <input type="text" class="form-control is-valid" id="metersize" placeholder="ตัวอย่าง : 12"
                            v-model="metersize" required>
                    </div>
                    <div class="form-group col-md-3">
                        <strong class="text-muted d-block mb-2">ราคาต่อหน่วย</strong>
                        <input type="text" class="form-control is-valid" id="price_per_unit" placeholder="ตัวอย่าง : 8.25"
                            v-model="price_per_unit" required>
                    </div>
                    <div class="form-group col-md-2">
                        <strong class="text-muted d-block mb-2">&nbsp;</strong>
                        <button v-on:click="updateData" class="btn btn-primary">บันทึก</button>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['id'],
    mounted(){
        this.getData();
    },
    methods:{
        updateData(){
            var data = {
               tabwatermetertype: this.tabwatermetertype,
                price_per_unit : this.price_per_unit,
                metersize: this.metersize
            }
            axios.put("/api/tabwatermeter/"+this.id+"/update",data).then((res)=>{
                this.resText = res.data
                this.show = true
            })
        },
        getData(){
            axios.get("/api/tabwatermeter/"+this.id+"/edit").then((res) =>{
                console.log(res)
                this.tabwatermetertype = res.data.typemetername;
                this.price_per_unit = res.data.price_per_unit;
                this.metersize = res.data.metersize
            })
        }
    }
    ,data(){
        return{
            tabwatermetertype : '',
            price_per_unit : null,
            metersize : null,
            resText:"",
            show:false
        }
    }
}
</script>