<template>
    <div class="projects">
        <div class="tableFilters">
            <input class="input" type="text" v-model="search" placeholder="Search Table"
                   @input="resetPagination()">

            <div class="control">
                <div class="select">
                    <select v-model="length" @change="resetPagination()">
                        <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                    </select>
                </div>
            </div>
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody>
                <tr v-for="invoice in paginated" :key="invoice.id">
                   <!-- <td scope="col" class="border-0">{{invoice.id}}</td> -->
                                <td scope="col" class="border-0" v-if="invoice.users === null"></td>
                                <td scope="col" class="border-0" v-else>
                                    {{invoice.users.user_profile.name}}
                                </td>
                                <td scope="col" class="border-0">{{invoice.lastmeter}}</td>
                                <td scope="col" class="border-0">{{invoice.currentmeter}}</td>
                                <td scope="col" class="border-0">{{invoice.used_water_net}}</td>
                                <td scope="col" class="border-0">{{invoice.must_paid}}</td>
                                <td scope="col" class="border-0">
                                    <span v-if="invoice.owe.length > 0">
                                        <a href="#!" class="btn btn-outline-warning">{{invoice.owe.length}}</a>
                                    </span>
                                </td>
                                <!-- <td scope="col" class="border-0">{{invoice.status}}</td> -->

                                <td scope="col" class="border-0">
                                    <div v-if="invoice.status !== 'paid'">
                                        <a :href="'/invoice/create/'+invoice.id" v-if="invoice.must_paid ==''"
                                            class="mb-2 btn btn-sm btn-info mr-1">เพิ่มข้อมูล</a>
                                        <a :href="'/invoice/edit/'+invoice.id" v-else
                                            class="mb-2 btn btn-sm btn-info mr-1">แก้ไข</a>

                                        <a v-if="invoice.status !== 'init'" @click="showInvoiceBillModal(invoice)"
                                            class="mb-2 btn btn-sm btn-primary mr-1">ปริ้นใบแจ้งหนี้</a>
                                        <a v-if="invoice.status === 'invoice'" :href="'../invoice/paid/'+invoice.id"
                                            class="mb-2 btn btn-sm btn-success mr-1">ชำระเงิน</a>
                                    </div>
                                    <div v-else>
                                        <span class="accent-primary active"><i class="material-icons">check</i></span>
                                        <span class="d-none d-md-inline ml-1"> ชำระเงินแล้ว</span>
                                    </div>
                                </td>
                </tr>
            </tbody>
        </datatable>
        <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPage)"
                    @next="getProjects(pagination.nextPage)">
        </pagination>
    </div>
</template>

<script>
import Datatable from './Datatable.vue';
import Pagination from './Pagination.vue';
export default {
    components: { datatable: Datatable, pagination: Pagination },
    created() {
        this.tableData={'status': 'active'}
        this.getProjects();
    },
    data() {
        let sortOrders = {};

        let columns = [
            {width: '20%', label: 'ชื่อ', name: 'name'  , type: 'string'},
            {width: '15%', label: 'มิเตอร์ยกยอดมา', name: 'remainmeter', type: 'string'},
            {width: '10%', label: 'มิเตอร์ปัจจุบัน', name: 'presentmeter', type: 'string'},
            {width: '10%', label: 'จำนวนสุทธิ', name: 'net_meter', type: 'string'},
            {width: '10%', label: 'เป็นเงิน', name: 'total', type: 'string'},
            {width: '10%', label: 'สถานะ', name: 'status', type: 'string'},
            {width: '25%', label: '', name: ''}
        ];

        columns.forEach((column) => {
           sortOrders[column.name] = -1;
        });
        return {
            projects: [],
            columns: columns,
            sortKey: 'remainmeter',
            sortOrders: sortOrders,
            perPage: ['10', '20', '30'],
            length: 10,
            search: '',
            tableData: {},
            pagination: {
                currentPage: 1,
                total: '',
                nextPage: '',
                prevPage: '',
                from: '',
                to: ''
            },
            invoices:[{
                "invoice_period":{},
                "owe":{},
                "users":{
                "user_profile":{}
                }
            }],
        }
    },
    methods: {
        getProjects(url = '/api/invoice') {
            console.log(this.tableData)
            axios.get(url, {params: this.tableData})
                .then(response => {
                    console.log(response)
                    this.invoices = response.data;
                    this.pagination.total = this.invoices.length
                })
                .catch(errors => {
                    console.log(errors);
                });
        },
        paginate(array, length, pageNumber) {
            this.pagination.from = array.length ? ((pageNumber - 1) * length) + 1 : ' ';
            this.pagination.to = pageNumber * length > array.length ? array.length : pageNumber * length;
            this.pagination.prevPage = pageNumber > 1 ? pageNumber : '';
            this.pagination.nextPage = array.length > this.pagination.to ? pageNumber + 1 : '';
            return array.slice((pageNumber - 1) * length, pageNumber * length);
        },
        resetPagination(){
            this.tableData= {'search': true}
            this.getProjects()
            this.pagination.currentPage = 1
            this.pagination.nextPage = ''
            this.pagination.prevPage = ''
        },
        sortBy(key) {
            this.resetPagination()
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;

        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
    },
    computed:{
         filteredProjects() {
             console.log('serac')
            let invoices = this.invoices;
            if (this.search) {
                invoices = invoices.filter((row) => {
        
                    return Object.keys(row.users.user_profile.name).some((key) => {
                        return String(row.users.user_profile.name[key]).toLowerCase().indexOf(this.search.toLowerCase()) > -1;
                    })
                });
            }
            console.log(invoices.sort())
            let sortKey = this.sortKey;
            let order = this.sortOrders[sortKey] || 1;
            if (sortKey) {
                
                invoices = invoices.slice().sort((a, b) => {
                    let index = this.getIndex(this.columns, 'name', sortKey);
                    // a = String(a[sortKey]).toLowerCase();
                    // b = String(b[sortKey]).toLowerCase();
                  //  console.log( a)
                    if (this.columns[index].type && this.columns[index].type === 'string') {
                        return (a === b ? 0 : new Date(a).getTime() > new Date(b).getTime() ? 1 : -1) * order;
                    } else if (this.columns[index].type && this.columns[index].type === 'number') {
                        return (+a === +b ? 0 : +a > +b ? 1 : -1) * order;
                    } else {
                        return (a === b ? 0 : a > b ? 1 : -1) * order;
                    }
                });
            }
            return invoices;
        },
        paginated(){
            return this.paginate(this.filteredProjects, this.length, this.pagination.currentPage);
        }
    }
};
</script>