<template>
<div>
    <div class="row" id="printMe">
    <div class="col-lg-4">
        <div class="card card-small mb-4 pt-3">
            <div class="card-header border-bottom text-center">
                <div class="mb-3 mx-auto">
                    <img class="rounded-circle" :src="'../../shards/images/avatars/0.jpg'" alt="User Avatar"
                        width="110"> </div>
                <h4 class="mb-0">{{invoice.users.user_profile.name }}</h4>
                <span class="text-muted d-block mb-2">สมาชิกผู้ใช้น้ำประปา</span>
                <!-- <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2">
                    <i class="material-icons mr-1">person_add</i>Follow</button> -->
            </div>
            <ul class="list-group list-group-flush">
                <!-- <li class="list-group-item px-4">
                    <div class="progress-wrapper">
                        <strong class="text-muted d-block mb-2">ทีอยู่</strong>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="74" aria-valuemin="0"
                                aria-valuemax="100" style="width: 74%;">
                            </div>
                        </div>
                    </div>
                </li> -->
                <li class="list-group-item p-4">
                    <strong class="text-muted d-block mb-2">{{invoice.users.user_profile.address}}</strong>
                    <span>โทร. {{invoice.users.user_profile.phone}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Account Details</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="feFirstName">รอบบิลที่</label>
                                    <input type="text" class="form-control" readonly
                                        v-model="invoice.invoice_period.inv_period_name"> </div>
                                <div class="form-group col-md-6">
                                    <label for="feLastName">ยอดจดครั้งก่อน</label>
                                    <input type="text" class="form-control" v-model="invoice.lastmeter" readonly> </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <label for="feEmailAddress">ยอดจดปัจจุบัน</label>
                                    <input type="text" class="form-control" v-model="invoice.currentmeter"> </div>
                                <div class="form-group col-md-3">
                                    <label for="fePassword">จำนวนน้ำที่ใช้</label>
                                    <input type="text" class="form-control check"  v-model="invoice.used_water_net" readonly> </div>
                                <div class="form-group col-md-3">
                                    <label for="feInputAddress">ราคา:หน่วย</label>
                                    <input type="text" class="form-control"
                                        v-model="invoice.users.usermeter_info.counter_unit" readonly> </div>
                                <div class="form-group col-md-3">
                                    <label for="feInputCity">คิดเป็นเงิน</label>
                                    <input type="text" class="form-control check" v-model="invoice.must_paid" readonly> </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
</template>

<script>
export default {
    props:['data'],
    mounted(){
        this.invoice = this.data
    },
    data(){
        return{
            invoice:{
                type: Object,
                default: () => ({})
            }
        }
    }
}
</script>