<template>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Card tables</h3>
                    <div class="text-right" style="float:right">
                        <a :href="'/users/create'" class="btn btn-primary my-4 float-r">เพิ่มข้อมูลผู้ใช้งาน</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ชื่อ-สกุล</th>
                                <th scope="col">ที่อยู่</th>
                                <th scope="col">เบอร์โทร</th>
                                <th scope="col">ประเภทผู้ใช้งาน</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in users" :key="user.id">
                                <div v-if="user.user_profile == null">
                                    <td colspan="5" class="text-center">
                                        <a :href="'/users/edit/'+user.user_cat_id+'/'+user.id" class="btn btn-info">เพิ่มข้อมูลผู้ใช้งาน</a>
                                    </td>
                                </div>
                                <div v-if="user.user_profile != null">
                                    <td scope="row">
                                        <div class="media align-items-center">
                                            <a href="#" class="">
                                                <img style="width:60px" class="user-avatar rounded-circle mr-2"
                                                    :src="'/shards/images/avatars/0.jpg'">
                                            </a>
                                            <div class="media-body">
                                                <span class="mb-0 text-sm">{{user.user_profile.name}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{user.user_profile.address}}
                                    </td>
                                    <td>
                                        {{user.user_profile.phone}}
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            {{user.usercategory.user_cate_name}}
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="#">View</a>

                                                <a class="dropdown-item" href="#">แก้ไข</a>
                                                <a class="dropdown-item" href="#">ลบ</a>
                                            </div>
                                        </div>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    mounted(){
        this.getUsersData()
    },
    methods:{
        async getUsersData(){
            try {
                let response = await axios.get('/api/users')
                this.users = response.data
                console.log(this.users)

            } catch (error) {
               console.log(JSON.stringify(error)) 
            }
            
        }
    },
    data(){
        return{
            users:[]
        }
    }
}
</script>

<style scoped>

</style>